/* ---------
    RESET
---------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYPOGRAPHY */

body{
    font-family: 'Roboto', sans-serif;
}

/* COMMON */

.brand{
    font-weight: 400;
}

.layout{
    max-width: 1370px;
    margin: auto;
}

.links a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-right: 3px;
}

.relative{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* HEADER */

header{
    background-color: #FF6900;
    padding-top:20px;
    padding-bottom: 20px ;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 100;
    width: 100%;
}

.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 120px;
}

/* MAIN */

.price{
    color: red;
    float: left;
    margin-right: 6px;
}

.sales{
    text-decoration: line-through;
    font-weight: 400;
}

.row-clothes{
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    justify-content: space-between;
}

.col-img{
    /* border: 1px dashed black; */
    width: calc(33.3% - 30px);
    margin: 15px;
}

.col-img img{
    max-width: 100%;
    max-height: 100%;
}

.heart{
    width: 50px;
    height: 50px;
    top:20px;
    left: 200px;
    background-color: white;
}

.sconto{
    width: 50px;
    height: 30px;
    background-color: red;
    top:660px;
    color: white;
    font-size: 17px;
}

.sost{
    background-color: green;
    top: 660px;
    height: 30px;
    width: 120px;
    left: 335px;
    color: white;
    font-size: 17px;
}
/* FOOTER */

footer{
    background-color: black;
    color: white;
}

.footer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px ;
    margin-top: 50px;
}

.footer-info h3, .footer-social h5{
    margin-bottom:10px;
}

.footer-info a{
    font-weight: 300;
    font-size: 14px ;
    margin-right: 15px;
}

.footer-social a{
    font-size: 21px;
}






